<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-serialport" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-serialport</name>
    <js-module name="serialport" src="www/cordova-plugin-serialport.js">
        <clobbers target="cordova.plugins.serialport"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-serialport">
                <param name="android-package" value="me.izee.cordova.plugin.NativeSerial"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <source-file src="libs/android/armeabi/libserial_port.so"
                     target-dir="libs/armeabi/"/>
        <source-file src="libs/android/armeabi-v7a/libserial_port.so"
                     target-dir="libs/armeabi-v7a/"/>
        <source-file src="libs/android/x86/libserial_port.so"
                     target-dir="libs/x86/"/>

        <source-file src="src/android/android_serialport_api/SerialPort.java"
                     target-dir="src/android_serialport_api/"/>

        <source-file src="src/android/NativeSerial.java"
                     target-dir="src/me/izee/cordova/plugin/"/>

    </platform>

</plugin>